
.button_base {
    margin-top: 100px;
    border: 0;
    font-size: 18px;
    width: 144px;
    height: 64px;
    position: bottom;
    cursor: default;
    font-family: 'Gowun Dodum';
    font-weight: 700;
    color: black;
    background: url("assets/Button.png") no-repeat;
}

/* ### ### ### 01 */
.b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    background-color: #000000;
}

.b01_simple_rollover:hover {
    color: #000;
    background-color: #000000;
}

